/* variables */
:root {
	--myYellow: #ffd701;
	--myBlue: #2a73b9;
	--myBlack: #0a0a0a;
	--forP: rgba(51, 51, 51, 0.75);
}

/* Clean up */
body,
html {
	overflow-y: scroll;
	overflow-x: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ul {
	font-family: 'Montserrat', sans-serif;
	color: var(--myBlack);
}
p {
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 1px;
	color: var(--forP);
}

/* Navabar */
.myNavbar {
	margin: 15px auto;
}
.navbar-brand a {
	color: var(--myBlue);
	text-decoration: none;
}
.navbar-Collapse {
	display: flex;
	flex-direction: column;
	align-items: flex-start !important;
}
/* Footer style */

.footer-wrapper {
	background-color: var(--myYellow);
	padding: 25px;
}
.footer-list {
	list-style: none;
	padding: 0px;
}
.footer-heading,
.list-item {
	color: var(--myBlue);
	margin-bottom: 20px;
}

/* Home */
.home-wrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

/* Home header */
.slide-image {
	height: 10px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}
.slide-image img {
	height: 250px;
	width: 100%;
	object-fit: cover;
	object-position: center center;
}
.image-slider {
	height: 240px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.prevBtn,
.nextBtn {
	cursor: pointer;
}
.prevBtn-container:hover,
.nextBtn-container:hover {
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 5px;
	border-radius: 15px;
	width: 30px;
	height: 30px;
}

/* Home About */
.about,
.heading-center {
	text-align: center;
}

/* Home Solution */
.solution-cardWrapper {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	justify-content: space-around;
}
.solution-card {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.solution-card img {
	object-position: top center;
}

/* Testimonial Card Slider*/
.testimonial-wrapper {
	margin-bottom: 20px;
}
.heading-center {
	margin-top: 15px;
}
.slider-cardContent {
	display: flex;
	flex-direction: column;
	width: 260px;
	height: 100% !important;
	justify-content: space-between !important;
}
.testimonial-card {
	flex-direction: column;
	width: 260px !important;
	height: 320px !important;
	padding: 0px !important;
}
.userOpinion {
	width: 240px;
	line-height: 1.5rem;
	font-size: 18px;
	text-align: justify;
}
.avatar-user,
.avatar-user svg {
	height: 25px !important;
	width: 25px !important;
}
.slide-inner {
	width: 100% !important;
	height: 100% !important;
}
.slide-outer,
.SlideStyles {
	width: 100%;
}

/* For large Device */
@media screen and (min-width: 426px) {
	.navbar-Collapse {
		flex-direction: row;
		align-items: center !important;
	}
	.login-btn {
		margin-left: auto !important;
		margin-right: 10px !important;
	}
	.slide-image img {
		height: 350px;
	}
	.image-slider {
		height: 340px;
	}
	.prevBtn-container:hover,
	.nextBtn-container:hover {
		border-radius: 25px;
		width: 50px;
		height: 50px;
	}
	.SliderStyles {
		gap: 35px !important;
	}
	.slide-outer {
		width: 32%;
	}
	/* .slide-inner {
		width: 340px !important;
	} */
	.slider-cardContent,
	.testimonial-card {
		width: 300px !important;
	}
	.userOpinion {
		width: 260px;
	}
}
@media screen and (min-width: 426px) and (max-width: 768px) {
	.SlideStyles {
		width: 322px;
	}
	.slide-outer {
		width: 100%;
	}
}
